body{
    font-family: Calibri;
    background-color: black;
    color: white;
}
h1{
    text-shadow: 2px 2px 2px rgb(104, 104, 104);
    height: 10%;
    margin: 0;
}
#mainCanvas{
    position: absolute;
    /* border: 1px solid white; */
    width: calc(100% - 12px);
    height: 90%;
    margin-left: 5px;
    margin-right: 5px;;
    left: 0;
    background-color: black;
}
.titleButton{
    border: 1px solid white;
    background-color: black;
    color: white;
    font-weight: bold;
    position: relative;
    bottom: 4px;
}